UI menu.c32

# Prompt user for selection
PROMPT 0
TIMEOUT 300
{% if item.on_timeout is defined %}
ONTIMEOUT {{item.on_timeout}}
{% endif %}

# Menu
{% if item.menu_background is defined %}
menu background {{item.menu_background}}
{% endif %}
{% if item.menu_title is defined %}
menu title {{item.menu_title}}
{% endif %}
{% if item.menu_colors is defined %}
{% for param in item.menu_colors %}
menu color {{param}}
{% endfor %}
{% endif %}

{% for l in item.labels %}

LABEL {{l.label}}
  MENU LABEL {{l.desc}}
{% if l.default is defined %}
  MENU DEFAULT
{% endif %}
{% if l.kernel is defined %}
  KERNEL {{l.kernel}}
{% endif %}
{% if l.append is defined %}
  APPEND {{l.append}}
{% endif %}
{% if l.ipappend is defined %}
  IPAPPEND {{l.ipappend}}
{% endif %}
{% if l.localboot is defined and l.localboot %}
  LOCALBOOT 0
{% endif %}
{% endfor %}
